* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #51575B;
}

.flex {
	display: flex;
}

.hide {
	display: none;
}

/* NAV STYLES */

nav {
	flex-direction: row;
	justify-content: space-between;
}

.firebase_nav {
	text-align: center;
	padding-top: 0.75rem;
	padding-left: 1.2rem;
}

#title {
	font-weight: 600;
	font-size: 1.2rem;
}

#stars {
	display: inline-block;
	font-size: 0.7rem;
	color: #8A9195;
}

#star {
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url(../images/svg/star-solid.svg) no-repeat center;
}

.logo {
	padding-top: 0.5rem;
}

.logo img {
	height: 4em;
}

.button {
	padding-top: 0.9rem;
	padding-right: 0.9rem;
}

.download_btn {
	all: unset;
	font-size: 1rem;
	background-color: #3DAFBE;
	border-radius: 0.25rem;
	padding: 0.5rem 0.8rem;
	color: #FFFFFF;
}

/* HEADER STYLES */

header {
	padding-top: 2.5rem;
	width: 80%;
	margin: auto;
}

header h1 {
	font-size: 3.5rem;
	text-shadow: 2px 3px 4px rgba(150, 150, 150, 1);
}

header p {
	font-size: 1.2rem;
	padding-top: 1.25rem;
	line-height: 1.5;
}

header .download_btn {
	margin-top: 2rem;
	border-radius: 0.75rem;
	padding: 1.25rem 2.75rem;
	font-size: 1.5rem;
}

/* MAIN STYLES */

main {
	margin-top: 4rem;
	background-color: #4A463F;
	border-top: 0.25rem solid #FFCA99;
	border-bottom: 0.25rem solid #FFCA99;
	padding-bottom: 3rem;
}

main h1 {
	font-size: 2.25rem;
	width: 50%;
	color: #FFFFFF;
	text-align: center;
	font-weight: 200;
	text-transform: uppercase;
	padding-top: 2.5rem;
	padding-bottom: 1rem;
	margin: auto;
}

main h1 span {
	font-weight: 500;
}

#fire {
	color: #FFCA99;
}

.items {
	width: 75%;
	margin: auto;
	flex-direction: column;
}

.features {
	color: #FFFFFF;
	padding-top: 2rem;
	font-weight: 200;
}

.features p {
	padding-top: 1rem;
	line-height: 1.5;
}

.features h2 {
	color: #FFCA99;
	font-weight: 400;
	text-align: center;
}

.features img {
	display: block;
	height: 5rem;
	width: 5rem;
	margin: auto;
	margin-bottom: 1.25rem;
}

/* FOOTER STYLES */

footer {
	padding: 2rem;
	text-align: center;
}

footer img {
	display: inline;
	height: 5rem;
	padding: 0.75rem;
}

/* MEDIA QUERIES */

@media (min-width: 650px) {
	.logo {
		display: none;
	}

	.social_icons {
		display: block;
	}

	.social_icons img {
		display: inline;
		height: 1.5rem;
		margin-right: 0.5rem;
		margin-top: 1rem;
	}

	.nav_buttons {
		display: block;
	}

	.nav_buttons ul {
		list-style-type: none;
		margin-top: 1rem;
	}

	.nav_buttons ul li {
		display: inline;
		padding: 0.75rem 0.75rem;
	}

	.items {
		width: 85%;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.features {
		flex-basis: 50%;
		padding-right: 1.75rem;
	}

	footer {
		display: none;
	}
}

@media (min-width: 1000px) {
	.header_logo {
		display: block;
	}
}

@media (min-width: 1200px) {
	.items {
		max-width: 960px;
	}

	.features {
		flex-basis: 33%;
		padding-right: 1.75rem;
	}

	.features img,
	.features h2 {
		display: inline;
	}

	.features img {
		margin-bottom: 0;
		height: 1.75em;
		width: 1.75rem;
		margin-right: 0.75rem;
	}

	main h1 {
		padding-top: 6rem;
		padding-bottom: 4rem;
		font-size: 3rem;
	}

	.firebase_nav {
		padding: 2rem 3rem;
	}

	#title {
		font-size: 1.75rem;
	}

	#stars {
		font-size: 1rem;
	}

	.nav_buttons {
		font-size: 1.2rem;
		margin-top: 1.75rem;
	}

	.button {
		padding: 2.25rem 2rem;
	}

	.download_btn {
		font-size: 1.5rem;
		padding: 0.5rem 1.75rem;
	}

	.social_icons {
		margin-top: 1.75rem;
	}

	.social_icons img {
		height: 2rem;
		margin-left: 2rem;
	}

	.header_logo {
		display: block;
	}

	header {
		max-width: 960px;
		justify-content: space-between;
	}

	header section {
		flex-basis: 50%;
	}

	header .download_btn {
		font-size: 1.75rem;
	}

	header section h1 {
		font-size: 5rem;
	}

	.max-size {
		max-width: 1200px;
		margin: auto;
	}
}
